@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-position-x: center;
    background-position-y: center;
    font-family: "Roboto", sans-serif;
    background-color: rgb(15, 23, 43);
    color: rgb(255, 255, 255);
    border-color: white;
}


#title {
    position: relative;
    font-size: 48px;
    margin: 5px;
    left: 45%;
    width: 17%;
    margin-bottom: 1%;
    -webkit-text-stroke: 1.5px rgb(158, 184, 255);
}

.outer_div {
    height: 80px;
}

#file_list li{
    list-style-type: none;
    font-size: 38px;
    position: relative;
    top: 30px;
    left: -2%;
}

#file_list li #url{
    width: 98%;
    height: 48px;
    list-style-position: inside;
    background-color: rgb(41, 52, 78);
    border-radius: 5px;
}

#file_list li #url:hover{
    background-color: rgba(255, 211, 222, 0.2);
}

#file_list li #url a{
    position: relative;
    left: 0.3%;
    color: rgb(255, 167, 191);
    text-decoration: none;
}


#add {
    position: relative;
    left: 1%;
    font-size: 30px;
    background-color: rgb(158, 184, 255);
    border: 2px solid rgb(202, 216, 255);
}

#add:hover {
    background-color: rgb(202, 216, 255);
}

#get_file {
    border-color: white;
    background-color: rgb(41, 52, 78);
}


#get_file::file-selector-button {
    background-color: rgb(158, 184, 255);
    border-color: rgb(202, 216, 255);
}

#get_file::file-selector-button:hover {
    background-color: rgb(202, 216, 255);
}

.trashbox {
    top: -60px;
    left: 98.25%;
    width: 3.8%;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    height: 70px;
    position: relative;
    background-image: url("site_images_inside\\Trash_icon-icons.com_55793.png");
    background-position: center;
    background-repeat: no-repeat;
}

.trashbox:hover {
    background-color: rgba(202, 216, 255, 0.3);
    border-radius: 50%;
}

.inputBox input[type*="file"] {
    position: relative;
    font-size: 30px;
    width: 91%;
    left: 1%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background: none;
}

#title:hover .del_check {
    display: block;
}

#response {
    position: fixed;
    top: 40%;
    left: 35%;
    background-color: rgb(15, 23, 43);
    width: 30%;
    height: 15%;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 200%;
}

#response:hover {
    background-color: rgb(30, 44, 80)
}
